<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>JoBot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-robot"></i> JoBot <i class="fas fa-robot"></i>
      </div>
    </header>

    <main class="msger-chat" id="msger-chat">

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerSendBtn = get(".msger-send-btn");
    const msgerChat = get("#msger-chat");


    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "../static/styles/robot.png";
    const PERSON_IMG = "../static/styles/profile.png";
    const BOT_NAME = "JoBot";
    const PERSON_NAME = "You";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      disableInput();
      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);
    });

    function appendMessage(name, img, side, text) {
      const msgHTML = `
      <div class="msg ${side}-msg">
        <div class="msg-img" style="background-image: url(${img})";></div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">${name}</div>
            <div class="msg-info-time">${formatDate(new Date())}</div>
          </div>
          <div class="msg-text">${splitLongText(text)}</div>
        </div>
      </div>
      `;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {
      const temporaryMsg = "";
      const dots = ["🔴🟠", "🔴🟠🟤", "🔴🟠🟤🟣", "🔴🟠🟤🟣🔵", "🔴🟠🟤🟣🔵🟢"];
      let currentDotIndex = 0;

      // Display temporary message
      appendMessage(BOT_NAME, BOT_IMG, "left", temporaryMsg);

      // Start changing dots
      const intervalId = setInterval(() => {
        currentDotIndex = (currentDotIndex + 1) % dots.length;
        const temporaryMsgWithDots = temporaryMsg + dots[currentDotIndex];
        const lastMsgBubble = msgerChat.lastElementChild.querySelector(".msg-bubble");
        lastMsgBubble.innerHTML = `<div class="msg-text">${splitLongText(temporaryMsgWithDots)}</div>`;
      }, 500);

      // Bot Response
      setTimeout(() => {
        $.get("/get", { msg: rawText }).done(function (data) {
          clearInterval(intervalId); // Stop changing dots

          // Remove the temporary message bubble
          const temporaryMsgBubble = msgerChat.lastElementChild;
          msgerChat.removeChild(temporaryMsgBubble);

          const msgText = data;
          appendMessage(BOT_NAME, BOT_IMG, "left", ""); // Create a new empty bubble for the bot's response
          typeBotResponse(msgText);
        });
      }, 500); // Delay the bot response by half a second (500 milliseconds)
    }

    function typeBotResponse(response) {
      const typingSpeed = 50; // Delay between each letter in milliseconds
      let currentCharIndex = 0;

      const lastMsgBubble = msgerChat.lastElementChild.querySelector(".msg-bubble");
      const msgTextContainer = lastMsgBubble.querySelector(".msg-text");

      // Start typing response
      const intervalId = setInterval(() => {
        const partialResponse = response.slice(0, currentCharIndex + 1);
        msgTextContainer.innerHTML = splitLongText(partialResponse);

        currentCharIndex++;

        if (currentCharIndex === response.length) {
          clearInterval(intervalId); // Stop typing
          enableInput();
          msgerInput.focus(); // Return focus to the input field
        }
      }, typingSpeed);
    }


    function disableInput() {
      msgerInput.disabled = true;
      msgerSendBtn.disabled = true;
    }

    function enableInput() {
      msgerInput.disabled = false;
      msgerSendBtn.disabled = false;
    }

    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }

    function saveMessages() {
      const messages = msgerChat.innerHTML;
      localStorage.setItem("chatMessages", messages);
    }

    function restoreMessages() {
      const messages = localStorage.getItem("chatMessages");
      if (messages) {
        msgerChat.innerHTML = messages;
      }
    }

    function splitLongText(text) {
      let maxCharactersPerLine = 30; // Maximum number of characters per line
      let words = text.split(" ");
      let result = "";
      let line = "";

      for (let i = 0; i < words.length; i++) {
        let currentWord = words[i];
        let remainingSpace = maxCharactersPerLine - line.length;

        if (currentWord.length <= maxCharactersPerLine) {
          if (currentWord.length <= remainingSpace) {
            line += currentWord + " ";
          } else {
            result += line.trim() + "<br>";
            line = currentWord + " ";
          }
        } else {
          let wordParts = splitWordIntoParts(currentWord, maxCharactersPerLine);
          for (let j = 0; j < wordParts.length; j++) {
            if (line.length + wordParts[j].length <= maxCharactersPerLine) {
              line += wordParts[j] + " ";
            } else {
              result += line.trim() + "<br>";
              line = wordParts[j] + " ";
            }
          }
        }
      }

      if (line.length > 0) {
        result += line.trim() + "<br>";
      }

      return result;
    }

    function splitWordIntoParts(word, maxCharactersPerLine) {
      let parts = [];
      for (let i = 0; i < word.length; i += maxCharactersPerLine) {
        parts.push(word.substr(i, maxCharactersPerLine));
      }
      return parts;
    }



    // Check if there are saved messages and ask the user if they want to restore them
    const savedMessages = localStorage.getItem("chatMessages");
    if (savedMessages) {
      const shouldRestore = confirm("Do you want to restore the previous conversation?");
      if (shouldRestore) {
        restoreMessages();
      } else {
        // Send request to reset conversation
        $.get("/reset").done(function (data) {
          console.log(data);  // Log the response from the server
          msgerChat.innerHTML = ""; // Clear the chat messages
          appendMessage(BOT_NAME, BOT_IMG, "left", "Hi, My name is JoBot! Go ahead and send me a message. 😄");
          localStorage.removeItem("chatMessages");
        });
      }
    } else {
      appendMessage(BOT_NAME, BOT_IMG, "left", "Hi, My name is JoBot! Go ahead and send me a message. 😄");
    }


    // Save messages before page reload or close
    window.addEventListener("beforeunload", () => {
      saveMessages();
    });

  </script>

</body>

</html>